[package]
name = "architecture-tests"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
publish = false

[dependencies]

[dev-dependencies]
tempfile = "3"
walkdir = "2.5"
